# =============================
# Environnement virtuel
# =============================
mon_botrasa/

# =============================
# Rasa
# =============================
.rasa/
models/

# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# =============================
# Logs
# =============================
*.log

# =============================
# IDE
# =============================
.vscode/
.idea/

# =============================
# Jupyter
# =============================
.ipynb_checkpoints/

# =============================
# Système
# =============================
.DS_Store
Thumbs.db

# =============================
# fichiers temporaires
# =============================
*.tmp
*.bak
*.swp