# =============================
# Environnement virtuel
# =============================
mon_botrasa/

# =============================
# Rasa
# =============================
.rasa/cache/
.rasa/models/
.rasa/__pycache__/

# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log

# =============================
# Jupyter Notebook
# =============================
.ipynb_checkpoints/

# =============================
# IDEs
# =============================
.vscode/
.idea/

# =============================
# Système
# =============================
.DS_Store
Thumbs.db

# =============================
# Git Large File Storage (Git LFS) - éviter fichiers volumineux
# =============================
*.so
*.dll
*.dylib
*.zip
*.tar.gz
*.whl
*.dat
*.bin

# =============================
# Autres fichiers temporaires
# =============================
*.tmp
*.bak
*.swp