# Environnements virtuels
mon_botrasa/
venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Rasa
.rasa/cache/
.rasa/models/
.rasa/tmp/

# Fichiers système
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/
